.center-cropped {
  height: 200px !important;
  object-fit: contain;
  width: 100%;
  padding: 10px;
}
.product-card {
  margin-top: 10px !important;
}
.subcategory {
  cursor: pointer !important;
}

.sub-cat-active {
  background-color: black;
  color: white;
}
.subcategory-heading {
  padding: 15px 0 !important;
  text-transform: capitalize;
}
.all-product-heading {
  padding-top: 10px;
  text-transform: capitalize;
}
.card .product-title,
.carousel-title {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
.card .product-title:hover,
.carousel-title:hover {
  text-decoration: underline;
  color: inherit;
}
.card .card-title {
  font-size: 16px;
  text-align: left;
}
.card .price {
  margin: 0 0 10px !important;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  text-align: left;
}
.price-after {
  font-size: 16px;
}
.price-before {
  text-decoration: line-through;
  font-size: 14px;
  color: #878787;
  margin-left: 8px;
}
.discount {
  color: #388e3c;
  font-size: 13px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin-left: 8px;
}
.rating-review {
  margin: 0 0 10px;
  padding-right: 10px;
  text-align: left;
}
.rating {
  position: relative;
}
.rating-no {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}
.review-icon {
  margin: -3px 0 0 2px;
  height: 10px;
}
.review {
  padding-left: 8px;
  font-weight: 500;
  color: #878787;
}
.card-img-top {
  max-height: 450px;
  object-fit: contain;
  padding: 10px;
}
.cart-icon {
  vertical-align: auto;
  stroke: #fff;
}
.product-detail .price-after {
  font-size: 28px;
}
.product-detail .price-before {
  font-size: 16px;
}
.product-detail .discount {
  font-size: 16px;
}
.sort-by-item {
  display: block;
}
.sort-by-heading {
  font-size: 18px;
  font-weight: 600;
}
.sort-by-item label {
  margin-left: 8px;
  display: inline;
  font-size: 16px;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: rgba(238, 238, 238, 0.776);
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #01447e;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}
.page-item:not(.active) .page-link {
  cursor: pointer;
}
