.card {
  text-align: center;
}

.cat-img:hover {
  transform: scale(1.1);
}

.card-text {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}

.row-padding {
  padding-top: 10px !important;
}

.category-image {
  height: 250px !important;
}
