.navbar {
  font-size: 18px;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
}
.fa-shopping-basket {
  color: rgb(11, 11, 11);
}

.navbar .navbar-nav .nav-link {
  margin: 0 2px;
}
.navbar .navbar-nav .dropdown-toggle.show,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  background-color: #e9ecef;
  border-radius: 4px;
}
